@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: Roboto Light;
    src: url(../fonts/Roboto-Light.ttf);
}

/*--------------- Whole Page */
body {
    margin: 0;
    scroll-behavior: smooth;
}

main {
    font-family: Roboto, sans-serif;
    background-color: #eee;
}

/*--------------- Navigation */
header {
    padding: 7vh 0 0 10vw;
}
nav ul {
    margin: 0;
    padding: 0;
    font-weight: bold;
    list-style: none;
}
nav li {
    display: inline-block;
    margin-right: 10px;
}
nav a:link, nav a:visited {
    color: #659d89;
    text-decoration: none;
}
nav a:hover, nav a:active {
    text-decoration: underline;
}

/*--------------- Every section */
section {
    min-width: 88vw;
    padding: 7vh 0 0 10vw;
    border-bottom: 1px solid #66666644;
}

/*--------------- Top section */
section:first-of-type h1 {
    margin: 0;
    padding: 10vh 0 0 0;
    font-size: 3em;
    color: #659d89;
}
section:first-of-type h2 {
    margin: 0;
    font-size: 2.5em;
    max-width: 50vw;
}
section:first-of-type a:link, section:first-of-type a:visited {
    text-decoration: none;
    color: black;
}
section:first-of-type a:hover, section:first-of-type a:active {
    text-decoration: underline;
}
section:first-of-type p {
    font-size: 0.8em;
    font-weight: bold;
    padding-bottom: 7vh;
}

/* Social media links */
aside {
    text-align: right;
    padding-right: 10vw;
}
aside ul {
    list-style: none;
}
aside img {
    width: 2em;
    height: auto;
    margin-bottom: 1vh;
}

/* Link arrows */
section:first-of-type p span, footer span {
    display: inline-block;
    font-size: 2.5em;
    transform: scaleY(0.5);
    padding-right: 1vw;
}

/*--------------- Section 2 (What's your struggle) */
#struggles p {
    font-family: Roboto Light, sans-serif;
    font-weight: bold;
}
#struggles div {
    padding: 3vh 10vw 5vh 0;
    text-align: center;
}
#struggles div img {
    margin: 30px;
    transition: 0.2s ease-in-out;
}
#struggles div img:hover {
    box-shadow: 0 0 10px 5px #33333322;
    transition: 0.2s ease-in-out;
}

/*--------------- Section 3 (Features resources) */
#features > h2 {
    padding-bottom: 20px;
}
#features figure {
    margin: 0;
    display: inline-block;
    padding: 7vh 7vw;
    text-align: center;
}
#features img {
    width: 50vw;
    padding-bottom: 10px;
}
#features figure a:link, #features figure a:visited {
    text-decoration: none;
    color: #666;
}
#features figure a:hover, #features figure a:active {
    text-decoration: underline;
}
#features figure h3 {
    color: #333;
}
#features figure p {
    font-family: Roboto Light;
    font-weight: bold;
    color: #666;
    font-size: 0.8em;
}
#features div:nth-of-type(odd) {
    text-align: left;
}
#features div:nth-of-type(even) {
    text-align: right;
}
#features div:last-of-type {
    padding-bottom: 50px;
}

/*--------------- Footer */
footer {
    text-align: center;
    padding: 100px 0;
    font-family: Roboto Light, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
}
footer a:link, footer a:visited {
    text-decoration: none;
    color: #666;
}
footer a:hover, footer a:active {
    text-decoration: underline;
}